body {
	background-color: rgba(89, 51, 68, 1);
	color : white;
}

#container {
	margin: 50px;

}

h1 {
	text-align: center;
}

div#research{
  margin-bottom: 20px;
}

.logoCenter {
	margin-top: 15%;
	text-align: center;
	animation-duration: 3s;
  animation-name: descente;
}

.logoHaut {
	animation-duration: 3s;
  	animation-name: monter;
	text-align: center;
}

/* annimation */
@keyframes descente {
  from {
    margin-top: 0%; 
  }

  to {
    margin-top: 15%;
  }
}

@keyframes monter {
  from {
    margin-top: 15%; 
  }

  to {
    margin-top: 0%;
  }
}


.imageResize
{
  width: 80%;
  margin-top:10px;
  margin-bottom: 10px;
}

div#twitter-content div{
  margin-top:10px;
  margin-bottom: 10px;
  padding-right:10px;
  padding-left: 10px;
  background: grey;
  background-clip:content-box;
}



.imageTwitt
{
  width: 70px;
  margin-top:10px;
  margin-bottom: 10px;
}

div#div_search_bar{
  margin-bottom: 10px
}