body {
	background-color: rgba(89, 51, 68, 1);
	color : white;
}

#container {
	width: 1200px;
  margin: auto;
}

a {
  color: white;
}

h1 {
	text-align: center;
}

div#research{
  margin-bottom: 20px;
}

.logoCenter {
	margin-top: 15%;
	text-align: center;
	animation-duration: 3s;
  animation-name: descente;
}

.logoHaut {
	animation-duration: 3s;
  	animation-name: monter;
	text-align: center;
}

/* annimation */
@keyframes descente {
  from {
    margin-top: 0%; 
  }

  to {
    margin-top: 15%;
  }
}

@keyframes monter {
  from {
    margin-top: 15%; 
  }

  to {
    margin-top: 0%;
  }
}


.imageResize
{
  width: 80%;
  margin-top:10px;
  margin-bottom: 10px;
}

#twitterLogo {
  width: 20px;
  height: 20px;
  border-radius: 2px 2px 0px 0px;
}

.divContent {
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  width: 1000px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}

.divContent a {
  color: black;
}

.tweet {
  display: inline-block;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  width: 600px;
  height: 130px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 3px;
}

.tweetInfo, .tweetImage {
  display: inline-block;
  vertical-align: top;
  margin: auto;
  color: black;
}

.tweetImage {
  width: 70px;
  height: 70px;
}

.tweetImage img {
  margin: auto;
}

.tweetInfo {
  margin-left: 10px;
  width: 500px;
  height: 80px;
}

.tweetInfo h3{
  font-size: 1.4em;
  margin-top: 0px;
}

.tweetInfo p{
  font-size: 1em;
}

div#div_search_bar{
  margin-bottom: 10px
}

.divImgDomain, .divDomainContent {
  display: inline-block;
  vertical-align: top;
}

.divDomainContent {
  margin-left: 10px;
  width: 900px;
}

.divImgDomain {
  width: 290px;
  margin-top: 20px;
}

.divImgDomain img {
  width: 280px;
  margin: auto;
}

.resultat {
  margin: 0px;
}

.resultat *{
  width: 1000px;
}

.imageDescriptif {
  margin-top: 25px;
  width: 80%;
  height: 80%;
}